body {
  background-color: rgb(224, 176, 199);
}

img {
  background-color: #18191a;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 18px;
  width: 150 px;
  height: 130px;
}
footer {
  min-height: 200px;
  background-color: rgba(198, 61, 61, 0.2);
  text-align: left;
}

.btn {
  color: rgb(38, 2, 40);
  background-color: white;
}

.btn:hover {
  color: rgb(182, 18, 111);
  background-color: pink;
}